# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Environments
.env
.venv
env/
venv/
.idea/

#Data file
/src/NSE.xlsx
